html, 
body {
  background-color: #C291A4;
  font-family: sans-serif;
  color: #CCFF00;
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #CCFF00;
  background-color: #040273;
  border: 2px solid #CCFF00;
}

button {
  display: inline-block;
  background-color: #040273;
  border: 2px solid #CCFF00;
  color: #CCFF00;
  padding: 10px 20px;
  border-radius: 5px;
  
}
